.container-image-mobile {
  width: 100%;
  margin: 1em 0;
}

.container-image-tablet {
  width: 40%;
  margin: 1em 0;
}

.container-image-desktop {
  width: 30%;
  margin: 1em 0;
}

.logo-adjustments-mobile {
  width: 40%;
  margin-bottom: 20px;
}

.logo-adjustments-tablet {
  width: 20%;
  margin-bottom: 20px;
}

.logo-adjustments-desktop {
  width: 15%;
  margin-bottom: 20px;
}

.custom-link {
  color: #1890ff;
}

.custom-link:hover {
  color: #44a8ff;
  cursor: pointer;
}

img.container-image-mobile.img-margin {
  margin: 20px 0;
}

.container-p-tablet {
  margin: 1em 5em;
}

.container-p-desktop {
  margin: 1em 13em;
}

.pointer {
  cursor: pointer;  
}
